@* Copyright (c) Kurrent, Inc and/or licensed to Kurrent, Inc under one or more agreements. *@
@* Kurrent, Inc licenses this file to you under the Kurrent License v1 (see LICENSE.md). *@

@page "/ui/query"
@attribute [Authorize(Roles = "$admins")]
@attribute [ExcludeFromInteractiveRouting]
@rendermode InteractiveServer
@using System.Diagnostics
@using System.Linq
@using System.Text.Json
@using System.Threading
@using BlazorMonaco.Editor
@using KurrentDB.Common.Configuration
@using KurrentDB.Components.Plugins
@using KurrentDB.Components.Tools
@using KurrentDB.SecondaryIndexing.Query
@using KurrentDB.Services
@using KurrentDB.UI.Services
@using Microsoft.AspNetCore.Authorization
@implements IDisposable
@inject IQueryEngine QueryEngine
@inject Preferences Preferences
@inject IDialogService DialogService
@inject PluginsService Plugins
@inject ClipboardService Clipboard

<MudPopoverProvider/>
<MudDialogProvider/>

<PageTitle>KurrentDB: Query</PageTitle>

@if (!Plugins.IsPluginEnabled(PluginNames.SecondaryIndexes)) {
	<NotEnabled Plugin="@PluginNames.SecondaryIndexes"/>
	return;
}

<MudCard Outlined="true">
	<MudCardContent>
		<MudAlert Severity="Severity.Warning">
			<h3 class="mb-2">Experimental feature</h3>
			<p>Querying large datasets may cause a performance impact. Consider adding <code>LIMIT</code> to your query.</p>
		</MudAlert>
		<MudText class="my-4">Type SQL statement in the editor below</MudText>
		<StandaloneCodeEditor @ref="_editor" Id="query-editor"
		                      OnDidInit="OnEditorInit"
		                      ConstructionOptions="EditorConstructionOptions"/>
		@if (!string.IsNullOrEmpty(_message)) {
			<MudAlert Severity="Severity.Normal">@_message</MudAlert>
		}
		@if (!string.IsNullOrEmpty(_error)) {
			<MudAlert Severity="Severity.Error">@_error</MudAlert>
		}
	</MudCardContent>
	<MudCardActions>
		<MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="Execute">Run</MudButton>
		<MudIconButton Icon="@Icons.Material.Filled.Help" Color="Color.Default" OnClick="ShowHelp">Help</MudIconButton>
	</MudCardActions>
</MudCard>
<MudOverlay Visible="_showProgress" DarkBackground="true" Absolute="true">
	<MudProgressCircular Color="Color.Secondary" Indeterminate="true"/>
</MudOverlay>

@if (_items is { RootElement: { ValueKind: JsonValueKind.Array } array })
{
	var columns = array.GetArrayLength() > 0
		? array[0].EnumerateObject().Select(static p => p.Name)
		: [];

	<MudDataGrid Items="array.EnumerateArray()" T="JsonElement">
		<Columns>
			<HierarchyColumn T="JsonElement" ButtonDisabledFunc="@(e => e.EnumerateObject().All(p => p.Value.ValueKind is not (JsonValueKind.Object or JsonValueKind.Array)))"/>
			@foreach (var col in columns) {
				var colName = col;
				<PropertyColumn T="JsonElement" TProperty="string"
				                Property="x => GetPropertyValue(x, colName)"
				                Title="@colName"/>
			}
		</Columns>
		<ChildRowContent>
			<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
				@foreach (var prop in context.Item.EnumerateObject()) {
					if (prop.Value.ValueKind is not (JsonValueKind.Object or JsonValueKind.Array)) continue;
					var propName = prop.Name;
					var propJson = prop.Value.GetRawText();
					<MudTabPanel Text="@propName">
						<Json JsonString="@propJson"/>
						<MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="() => CopyJson(propJson, false)">
							Copy JSON
						</MudButton>
						<MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="() => CopyJson(propJson, true)">
							Copy indented JSON
						</MudButton>
					</MudTabPanel>
				}
			</MudTabs>
		</ChildRowContent>
		<PagerContent>
			<MudDataGridPager T="JsonElement"/>
		</PagerContent>
	</MudDataGrid>
}

@code {
	readonly CancellationTokenSource _cts = new();
	JsonDocument _items;
	StandaloneCodeEditor _editor = null!;
	string _message = "";
	string _error = "";
	bool _showProgress;

	StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor arg) => new() {
		AutomaticLayout = false,
		Language = "sql",
		Theme = EditorTheme(),
		FontSize = 16
	};

	readonly DialogOptions _maxWidth = new() { MaxWidth = MaxWidth.Medium, FullWidth = true };

	async Task ShowHelp() {
		await DialogService.ShowAsync<QueryHelpDialog>("How to use the query engine", _maxWidth);
	}

	async Task OnEditorInit() {
		// await _editor.AddCommand((int)KeyMod.CtrlCmd | (int)KeyCode.Enter, _ => InvokeAsync(Execute));
		// await _editor.Focus();
	}

	async Task Execute()
	{
		var sql = await _editor.GetValue();

		if (string.IsNullOrWhiteSpace(sql)) return;

		_items?.Dispose();
		_items = null;
		_showProgress = true;
		_message = "";
		_error = "";
		StateHasChanged();

		var watch = new Stopwatch();
		watch.Start();

		try
		{
			_items = await QueryEngine.ExecuteAdHocUserQuery(sql, _cts.Token);
			watch.Stop();
			_message = $"Query executed in {watch}";
		}
		catch (Exception e) {
			_error = e.Message;
		}
		finally {
			_showProgress = false;
			StateHasChanged();
		}
	}

	protected override void OnInitialized() {
		base.OnInitialized();
		Preferences.ThemeChanged += PreferencesOnThemeChanged;

		return;

		void PreferencesOnThemeChanged(object sender, EventArgs e) => _editor.UpdateOptions(new() { Theme = EditorTheme() });
	}

	public void Dispose()
	{
		_items?.Dispose();
		_cts.Cancel();
	}

	static string GetPropertyValue(JsonElement element, string name)
	{
		return element.TryGetProperty(name, out var property)
			? property.ToString()
			: string.Empty;
	}

	string EditorTheme() => Preferences.DarkMode ? "vs-dark" : "vs-light";

	static readonly JsonSerializerOptions Indent = new() { WriteIndented = true };

	async Task CopyJson(string jsonString, bool indent) {
		var json = indent ? TryPrettifyJson(jsonString) : jsonString;
		await Clipboard.WriteTextAsync(json);
	}

	static string TryPrettifyJson(string json) {
		if (string.IsNullOrWhiteSpace(json)) return string.Empty;
		try {
			using var doc = JsonDocument.Parse(json);
			return JsonSerializer.Serialize(doc.RootElement, Indent);
		}
		catch (JsonException) {
			// Not valid JSON; return original (or decide to throw)
			return json;
		}
	}
}

